{{- /* Lowercased title tokens with stop words and short tokens removed. */ -}}
{{- $stop := slice "a" "an" "and" "the" "of" "for" "in" "on" "to" "with" "by" "at" "as" "is" "are" "be" "or" "from" "into" "using" "via" "new" "not" "no" "it" "its" "we" "our" "their" "you" "your" "this" "that" "these" "those" "but" "if" "than" "then" "so" "can" "will" "would" "could" "should" "may" "might" "also" "more" "most" "some" "all" "any" "each" "every" "who" "whom" "which" "what" "when" "where" "why" "how" "about" "between" "among" "through" "over" "under" "after" "before" "upon" "across" "per" "vs" "de" "la" "les" "et" "du" -}}
{{- $tokens := slice -}}
{{- range split (replaceRE "[^a-z0-9]+" " " (lower .)) " " -}}
  {{- if and (ge (len .) 3) (not (in $stop .)) (not (in $tokens .)) }}{{ $tokens = $tokens | append . }}{{ end -}}
{{- end -}}
{{- return $tokens -}}
